* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "poppins";
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}


body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url('image/13.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    z-index: -1;
    position: relative;

}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Torus Notched";


}

header {
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    margin-top: 20px;
    margin-left: -250px;
    /* background-color:blueviolet; */
    z-index: 2;

}

header img {
    margin-top: 10px;
}

header nav a {
    color: black;
    font-weight: 500;
    font-size: 1.7rem;

}

/* radio input */
.radio {
    position: absolute;
    position: fixed;
    top: 55%;
    left: 1%;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

input[type="radio"]#visa {
    size: 60px;
    border: 200px;
}

/* section one */
.sect1 {
    width: 50%;
    height: 50%;
    /* background-color: cadetblue; */
    margin-left: 17%;
    margin-top: 12%;
}

.sect1 p {
    font-size: 8rem;
    color: #31489f;
    font-weight: 500;
    font-family: "Torus Notched";

}

.sect1 button {
    margin-top: 7%;
    width: 250px;
    height: 70px;
    border-radius: 50px;
    border: 2.5px #31489f solid;
    font-size: large;
    color: blue;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;

}

.sect1 button::before {
    content: "";
    margin-top: 7%;
    width: 250px;
    height: 70px;
    border-radius: 50px;
    background-color: rgb(49, 72, 159);
    position: absolute;
    top: -18px;
    left: -1px;
    transform: translate(-100%);
    transition: 0.5s;
    z-index: -1;
    border: 2.5px #31489f solid;



}

.sect1 button:hover::before {
    transform: translate(0%);
    width: 300px;
    height: 76px;
    top: -20px;
    left: -3px;

}

.sect1 button:hover {
    color: white;
    width: 300px;
    height: 74px;
    background-color: #31489f;
}

.sect1 button span svg {
    fill: #31489f;
    height: 18px;
    position: absolute;
    top: 25px;
    right: 33px;
    visibility: hidden;
    transform: translate(-100%);
    transition: 0.3s;
}

.sect1 button:hover span svg {
    visibility: visible;
    fill: white;
    width: 300px;
    top: 25px;
    left: 80px;
    transform: translate(-0%);

}


/* Media queri */
/* ......................... */
@media (max-width:883px) {
    body {
        background-image: none;
        background-image: url(image/11.png);
        background-position: bottom;
        background-size: 20%;
        background-position-x: 30%;
        background-position-y: 95%;
    }

    header {
        background-color: #6b87ee;
        color: #fff;
        display: flex;
        justify-content: center;
        height: 50px;

    }

    header img {

        display: none;
    }

    header nav {
        margin-left: 0px;
        justify-content: space-between;
        margin-top: 10px;


    }

    header nav a {
        color: #fff;
        font-size: 1.5rem;


    }

    .sect1 {

        /* background-color: cadetblue; */
        margin-left: 22%;
        margin-top: 4%;
    }

    .sect1 p {
        font-size: 5rem;

    }

    .radio {
        display: none;

    }

    .sect1 button {

        height: 60px;
        margin-top: 18%;

    }

    .sect1 button::before {
        content: "";
        height: 60px;



    }

    .sect1 button:hover::before {

        height: 70px;


    }

    .sect1 button:hover {
        height: 74px;

    }

}

@media (max-width:768px) {

    body {
        background-image: none;
        background-image: url(image/11.png);
        background-position: bottom;
        background-size: 20%;
        background-position-x: 40%;
        background-position-y: 85%;
    }

    header nav {
        justify-content: space-around;


    }


}

@media (max-width:425px) {
    html {
        font-size: 50%;
    }

    body {

        background-size: 40%;
        background-position-x: 50%;
        background-position-y: 85%;
    }

    header nav {
        justify-content: space-around;


    }


}


@media (max-width:320px) {
    html {
        font-size: 60%;
    }

    body {

        background-size: 70%;
        background-position-x: 50%;
        background-position-y: 85%;
    }

    header nav a {
        color: #fff;
        font-size: 1rem;


    }

    .sect1 p {
        font-size: 3rem;
        margin-top: 20%;

    }

    .sect1 button {
        height: 40px;
        width: 180px;
        margin-top: 30%;
        margin-left: -10%;


    }


    .sect1 button::before {
        content: "";
        width: 180px;
        height: 40px;
        border-radius: 50px;
        background-color: rgb(49, 72, 159);
        position: absolute;
        top: -18px;
        left: -1px;
        transform: translate(-100%);
        transition: 0.5s;
        z-index: -1;
        border: 2.5px #31489f solid;



    }

    .sect1 button:hover::before {
        height: 50px;
        width: 200px;

    }

    .sect1 button:hover {
        width: 200px;
        height: 50px;
        background-color: #31489f;
    }

    .sect1 button span svg {
        fill: #fff;
        height: 18px;
        position: absolute;
        top: 9px;
        right: 1px;
        visibility: hidden;
        transition: 0.3s;
    }

    .sect1 button:hover span svg {
        visibility: visible;
        width: 200px;
        fill: white;
        top: 14px;
        left: 70px;





    }


}





/* end for first party */
/* header up to section one */


/* section two */

.sect2 {
    height: 160vh;
    background-color: #232323;
    background-image: url('image/10.png');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-x: -53px;
    background-position-y: -61px;

}

.sect2 .h1 {
    font-size: 5rem;
    margin-left: 519px;
    padding-top: 150px;
    color: white;
    position: relative;
}

.sect2 .h1::before {
    content: "";
    position: absolute;
    top: 199px;
    left: -10px;
    height: 30px;
    width: 380px;
    border-radius: 30px;
    background-color: #6b87ee;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 35%, 64% 100%, 48% 35%, 31% 100%, 16% 35%, 0 88%);
}

.sect2 .left {
    width: 35%;
    height: 17%;
    margin-top: 150px;
    margin-left: 10%;
    /* background-color: rgb(43, 226, 83); */
    position: relative;
}

.sect2 .left h1 {
    font-size: 2.5rem;
    color: white;
    margin-left: 40px;

}

.sect2 .left h1::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 5px;
    background-color: blueviolet;
    border: 2px white solid;
    border-radius: 50px;
}

.sect2 .left h1::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 10px;
    top: 27px;
    left: 5px;
    background-color: #6b87ee;
    border-radius: 50px;
}

.sect2 .left p {
    font-size: 1.1rem;
    color: white;
    margin-left: 40px;
    margin-top: 10px;

}

.sect2 .img {
    position: absolute;
    height: 300px;
    left: 55%;
    top: 850px;

}

.twon {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 10%;
    max-height: auto;
    /* background-color: rgb(226, 183, 43); */
    justify-content: space-around;
    align-items: center;

}

.twon img {
    max-width: 200px;
    max-height: 300px;
    margin-left: 10%;

}

.twon .botton {
    margin-right: 10%;
    position: relative;

}
 .botton h1 {
    font-size: 2.5rem;
    color: white;
    

}
.botton  h1::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    left: -20px;
    background-color: blueviolet;
    border: 2px white solid;
    border-radius: 50px;
}
.botton h1::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 8px;
    top: 27px;
    left: -20px;
    background-color: #6b87ee;
    border-radius: 50px;
}

.twon .botton p {
   font-size: 1.1rem;
    color: white;
    margin-top: 20px;
}